<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">
        <a class="nav-link {% if url_name == 'overview' %} active {% endif %}" aria-current="page"
            href="{% url 'overview' %}">Overview </a>
        <a class="nav-link {% if url_name == 'item_list' %} active {% endif %}" href="{% url 'item_list' %}">
            List items
        </a>
        <a class="nav-link {% if url_name == 'item_add' %} active {% endif %}" href="{% url 'item_add' %}">Add items</a>
        <a class="nav-link {% if url_name == 'warehouse_list' %} active {% endif %}"
            href="{% url 'warehouse_list' %}">List warehouses</a>
        <a class="nav-link" href="{% url 'warehouse_add' %}">Add warehouses</a>
        <a class="nav-link" href="#">Staffs</a>
    </nav>
</div>