<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">
        <a class="nav-link active" aria-current="page" href="{% url 'overview' %}">Overview</a>
        <a class="nav-link" href="{% url 'item_list' %}">
            List items
            <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
        </a>
        <a class="nav-link" href="#">Add items</a>
        <a class="nav-link" href="#">List warehouses</a>
        <a class="nav-link" href="#">Add warehouses</a>
        <a class="nav-link" href="#">Staffs</a>
    </nav>
</div>